@import "tailwindcss";

:root {
  --sw-yellow: #feda4a;
  --sw-black: #000000;
  color-scheme: dark;
}

body {
  background-color: var(--sw-black);
  color: white;
  margin: 0;
  font-family: sans-serif;
}

.text-sw-yellow {
  color: var(--sw-yellow);
}

.border-sw-yellow {
  border-color: var(--sw-yellow);
}
