@import "tailwindcss";

:root {
  --sw-yellow: #feda4a;
  --sw-black: #000000;
  color-scheme: dark;
}

body {
  background-color: var(--sw-black);
  color: white;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

/* Star Wars utilities */
.perspective-\[400px\] {
  perspective: 400px;
}
.origin-bottom {
  transform-origin: 50% 100%;
}

@keyframes crawl {
  0% {
    top: 100%;
    transform: rotateX(20deg) translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.animate-crawl {
  animation: crawl 60s linear;
}
